.first {
    display: flex;
}

.first .colored {
    flex: 1 0 0;
}

.second {
    display: flex;
}

.second .colored {
    flex: 1 0 50%;
}
.third {
    display: flex;
}

.third .colored {
    flex: 0 0 25%;
}

.fourth {
    display: flex;
}

.fourth .colored {
    flex-basis: 25%;
}

.fourth .colored:nth-child(3) {
    flex-basis: 50%;
}

.fifth {
    display: flex;
}

.fifth .colored {
    flex: 1 0 20%;
}

@media (max-width: 1799.98px) {
    .first {
        flex-wrap: wrap;
    }

    .first .colored {
        flex-basis: 50%;
    }

    .third {
        flex-wrap: wrap;
    }

    .third .colored {
        flex: 1 0 35%;
    }

    .fourth .colored {
        flex-basis: 35%;
    }

    .fourth .colored:nth-child(2) {
        flex-basis: 30%;
    }

    .fourth .colored:nth-child(3) {
        flex-basis: 35%;
    }

    .fifth {
        flex-wrap: wrap;
        justify-content: center;
    }

    .fifth .colored {
        flex-basis: 33%;
        flex-grow: 0;
    }
}

@media (max-width: 1199.98px) {
    .third {
        flex-wrap: nowrap;
    }
    
    .third .colored {
        flex-basis: 33%;
        flex-grow: 0;
    }
    
    .fifth .colored {
        flex-basis: 50%;
        flex-grow: 1;
    }
}

@media (max-width: 959.98px) {
    .third {
        flex-wrap: wrap;
    }

    .third .colored {
        flex: 1 0 55%;
    }

    .fourth {
        flex-wrap: wrap;
    }

    .fourth .colored {
        flex-basis: 50%;
        flex-grow: 1;
    }

    .fourth .colored:nth-child(2),
    .fourth .colored:nth-child(3) {
        flex-basis: 50%;
    }
}

@media (max-width: 767.98px) {
    .fourth .colored{
        flex: 1 0 100%;
    }

    .fourth .colored:nth-child(2),
    .fourth .colored:nth-child(3) {
        flex-basis: 100%;
    }

    .fifth .colored {
        flex: 1 0 55%;
    }
}